@import url("null.css");

@font-face{
    font-family:"CircularStd";
    src: url("../шрифты/CircularStd-Bold.woff2")format("woff2"),url("../шрифты/CircularStd-Bold.woff")format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:"CircularStd";
    src: url("../шрифты/CircularStd-Book.woff2")format("woff2"),url("../шрифты/CircularStd-Book.woff")format("woff");
    font-weight: 700;
    font-style: normal;
}
body{
     font-family:"CircularStd";
      font-weight: 400;
    font-style: normal;
    color: #5F5F5F;
    font-size: 18px;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.container {
    max-width: 1025px;
    margin:0 auto;
}
.header {
 text-align: center; 
 margin: 0px 0px 67px 0px; 
}
.title {
font-size: 65px;
line-height:1.2;
color: #313131;
margin: 0px 0px 20px 0px;
}
.text-title {
font-size: 20px;
line-height:1.25
}
.main-body {
    text-align: center;
    margin: 0px 0px 60px 0px;
}
.body-title {
font-weight:700;
font-size: 34px;
line-height: 1.3;
color: #313131;
opacity: 0.88;
}
.body-text {
    line-height: 1.5;
    margin: 0px 0px 67px 0px;
}
.body-imag {
    width: 100%;
    border-radius: 30%;
    background-color:#FFFCE5 ;
    box-shadow:inset 30px 30px 30px 30px #FFF;
    overflow: hidden;
    margin: 0px 0px 125px 0px;

}
.body-img {
    max-width:401px;
    max-height:674px;
}

.body-text-bottom {
    text-align: left;
  
}
.text-bottom-1 {
font-size: 18px;
line-height: 1.3;
color: #313131;
opacity: 0.88;
margin: 0px 0px 10px 0px;
}
.text-bottom-2 {
font-size: 18px;
line-height:1.2;
color: #B8B8B8;

}